<h1>Listado vejez</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ages.each do |age| %>
      <tr>
        <td><%= age.name %></td>
        <td><%= link_to 'Ver', age %></td>
        <td><%= link_to 'Editar', edit_age_path(age) %></td>
        <td><%= link_to 'Eliminar', age, method: :delete, data: { confirm: 'Estás seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva vejez', new_age_path %>
