<div class="col-md-8 col-md-offset-2">
<%= simple_form_for(@grape_type) do |f| %>
  <% if @grape_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@grape_type.errors.count, "error") %> prohibited this grape_type from being saved:</h2>
      <ul>
        <% @grape_type.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="checkbox">
    <label>
      <%= f.input :active, label:'Activo' %>
    </label>
  </div>
  <div class="form-group form-group-sm">
      <label>Nombre</label>
      <%= f.text_field :name, class: 'form-control'%>
  </div>
  <div class="actions">
    <%= f.submit 'GUARDAR' %>
  </div>
<% end %>
<div>
