<h1>Listado de tipos de uva</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @grape_types.each do |grape_type| %>
      <tr>
        <td><%= grape_type.name %></td>
        <td><%= link_to 'Ver', grape_type %></td>
        <td><%= link_to 'Editar', edit_grape_type_path(grape_type) %></td>
        <td><%= link_to 'Eliminar', grape_type, method: :delete, data: { confirm: 'Estás seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo tipo de uva', new_grape_type_path %>
