<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @grape_type.name %>
</p>

<p>
  <strong>Active:</strong>
  <%= @grape_type.active %>
</p>

<%= link_to 'Edit', edit_grape_type_path(@grape_type) %> |
<%= link_to 'Back', grape_types_path %>
