<%= form_for(@appellation) do |f| %>
  <% if @appellation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appellation.errors.count, "error") %> prohibited this appellation from being saved:</h2>

      <ul>
      <% @appellation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :active %><br>
    <%= f.check_box :active %>
  </div>
  <div class="field">
    <%= f.label :logo %><br>
    <%= f.text_field :logo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
