<h1>Listado de Denominaciones</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @appellations.each do |appellation| %>
      <tr>
        <td><%= appellation.name %></td>
        <td><%= link_to 'Ver', appellation %></td>
        <td><%= link_to 'Editar', edit_appellation_path(appellation) %></td>
        <td><%= link_to 'Eliminar', appellation, method: :delete, data: { confirm: 'Estás seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Denominación', new_appellation_path %>
