<h1>Listing appellations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appellations.each do |appellation| %>
      <tr>
        <td><%= appellation.name %></td>
        <td><%= appellation.active %></td>
        <td><%= link_to 'Show', appellation %></td>
        <td><%= link_to 'Edit', edit_appellation_path(appellation) %></td>
        <td><%= link_to 'Destroy', appellation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Appellation', new_appellation_path %>
