<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @appellation.name %>
</p>

<p>
  <strong>Active:</strong>
  <%= @appellation.active %>
</p>

<p>
  <strong>Logo:</strong>
  <br/>
  <%= image_tag(@appellation.logo) %>
  <br/>
  <%= @appellation.logo %>
</p>

<%= link_to 'Edit', edit_appellation_path(@appellation) %> |
<%= link_to 'Back', appellations_path %>
