<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @appellation.name %>
</p>

<p>
  <strong>Activo:</strong>
  <%= @appellation.active %>
</p>

<p>
  <strong>Imágen:</strong>
  <br/>
  <%= image_tag(@appellation.logo) %>
  <br/>
  <%= @appellation.logo %>
</p>

<%= link_to 'Editar', edit_appellation_path(@appellation) %> |
<%= link_to 'Volver', appellations_path %>
