





<div class="col-md-8 col-md-offset-2">
<%= simple_form_for(@wine) do |f| %>
  
  <% if @wine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wine.errors.count, "error") %> prohibited this wine from being saved:</h2>

      <ul>
      <% @wine.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="checkbox">
    <label>
      <%= f.input :active, label:'Activo' %>
    </label>
  </div>


  <div class="form-group form-group-sm">
      <label>Nombre</label>
      <%= f.text_field :name, class: 'form-control'%>
  </div>

  

  <div class="checkbox">
    <label>
      <%= f.input :is_special_wine, label:'Vinoteca' %>
    </label>
  </div>


  <div class="checkbox">
    <label>
      <%= f.input :is_restaurant_wine, label:'Restaurante' %>
    </label>
  </div>

  <div class="form-group form-group-sm">
      <label>Bodega</label>
      <%= f.text_field :wine_cell, class: 'form-control' %>
  </div>

  <div class="form-group form-group-sm">
    <label>Elaboraci칩n</label>
    <%= f.text_area :elaboration, rows: 6, class:'form-control'%>
  </div>

  <div class="form-group form-group-sm">
    <label>Vejez</label>
    <%= f.select :age_id, 
      options_from_collection_for_select(Age.all, :id, :name, @wine.age_id),
      class: 'form-control' %>
  </div>


  <div class="form-group form-group-sm">
     <label>Cosecha</label>
     <%= f.text_field :harvest, class: 'form-control' %>
  </div>


  <div class="form-group form-group-sm">
    <label>Tipo de vino</label>
    <%= f.select :type_id, 
      options_from_collection_for_select(Type.all, :id, :name, @wine.type_id),
      class: 'form-control' %>
  </div>


  <div style="margin-top: 30px; margin-bottom: 30px;">
      <div style="background-color: lightgrey; padding: 10px; border-radius: 5px;">
        <%= f.add_nested_fields_link :wine_grapes, "A침adir nuevo tipo de uva", class: 'pull-right' %>
        <%= f.nested_fields_for :wine_grapes do |ff| %>
            <div class="form-group form-group-sm">
              <%= ff.input :grape_type_id, collection: GrapeType.all, class: 'form-control',
              label_method: lambda { |grape_type| "#{grape_type.name}"} %>
            </div>
            <div class="form-group form-group-sm">
              <%= ff.input :percentage, class: 'form-control' %>
            </div>
            <%= ff.remove_nested_fields_link 'Eliminar tipo de uva' %>
        <% end %>
      </div>
  </div>
  
  <div class="form-group form-group-sm">
      <label>Denominaci칩n</label>
      <%= f.select :appellation_id, 
      options_from_collection_for_select(Appellation.all, :id, :name, @wine.appellation_id), 
        class: 'form-control' %>
  </div>

  <div class="form-group form-group-sm">
      <label>Precio botella 500ml</label>
      <%= f.text_field :bottle_500_price, class: 'form-control' %>
  </div>

  <div class="form-group form-group-sm">
      <label>Precio botella 750ml</label>
      <%= f.text_field :bottle_750_price, class: 'form-control' %>
  </div>

  <div class="form-group form-group-sm">
      <label>Precio vaso</label>
      <%= f.text_field :glass_price, class: 'form-control' %>
  </div>


  <div class="form-group form-group-sm">
    <label>Color</label>
    <%= f.text_area :color, rows: 6, class:'form-control'%>
  </div>

  <div class="form-group form-group-sm">
    <label>Nariz</label>
    <%= f.text_area :nose, rows: 6, class:'form-control'%>
  </div>

  <div class="form-group form-group-sm">
    <label>Boca</label>
    <%= f.text_area :mouth, rows: 6, class:'form-control'%>
  </div>

  <div class="form-group form-group-sm">
    <label>Im치gen</label>
    <%= f.text_field :logo, class: 'form-control' %>
  </div>


  <div class="actions">
    <%= f.submit 'GUARDAR' %>
  </div>
<% end %>
