<h1>Listado de vinos</h1>

<table class="table">
  <thead>
    <tr>
      <th>NOMBRE</th>
      <th>BODEGA</th>
      <th>TIPO</th>
      <th>DENOMINACÓN</th>
      <th>PRECIO BOTELLA 500ML</th>
      <th>PRECIO BOTELLA 750ML</th>
      <th>PRECIO VASO</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @wines.each do |wine| %>
      <tr>
        <td><%= wine.name %></td>
        <td><%= wine.wine_cell %></td>
        <td><%= wine.type.name %></td>
        <td><%= wine.appellation.name %></td>
        <td><%= wine.bottle_500_price %></td>
        <td><%= wine.bottle_750_price %></td>
        <td><%= wine.glass_price %></td>
        <td><%= link_to 'VER', wine %></td>
        <td><%= link_to 'EDITAR', edit_wine_path(wine) %></td>
        <td><%= link_to 'ELIMINAR', wine, method: :delete, data: { confirm: 'Estás seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'NUEVO VINO', new_wine_path %>
