<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @wine.name %>
</p>

<p>
  <strong>Bodega:</strong>
  <%= @wine.wine_cell %>
</p>

<p>
  <strong>Elaboración:</strong>
  <%= @wine.elaboration %>
</p>

<p>
  <strong>Cosecha:</strong>
  <%= @wine.harvest %>
</p>

<p>
  <strong>Vejez:</strong>
  <%= @wine.age.name %>
</p>

<p>
  <strong>Denominación:</strong>
  <%= @wine.appellation.name %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @wine.type.name %>
</p>

<p>
  <strong>Tipo uva:</strong>
  <ul>
    <% @wine.wine_grapes.each do |wg| %>
      <li><%= wg.grape_type.name %> - <%= wg.percentage %>%</li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Precio botella 500ml:</strong>
  <%= @wine.bottle_500_price %>
</p>

<p>
  <strong>Precio botella 500ml:</strong>
  <%= @wine.bottle_750_price %>
</p>

<p>
  <strong>Precio vaso:</strong>
  <%= @wine.glass_price %>
</p>

<p>
  <strong>Color:</strong>
  <%= @wine.color %>
</p>

<p>
  <strong>Nariz:</strong>
  <%= @wine.nose %>
</p>

<p>
  <strong>Boca:</strong>
  <%= @wine.mouth %>
</p>

<p>
  <strong>Imágen:</strong>
  <%= @wine.logo %>
</p>

<%= link_to 'Editar', edit_wine_path(@wine) %> |
<%= link_to 'Volver', wines_path %>
